# ========== Unity ==========

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
*.apk
*.unitypackage

# JetBrains Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# Crash Logs
*.log

# ========== Visual Studio ==========

.vs/
x64/
x86/
[Bb]in/
[Oo]bj/
*.dbmdl
*.pfx
*.publishsettings
*.cache
*.scc
*.nupkg
*.snupkg
*.vssscc
*.psess
*.vsp
*.vspx
*.vsix
*.etl
*.dll
*.exe

# ReSharper
_ReSharper*/
*.DotSettings.user

# Node
node_modules/

# Python
__pycache__/
*.pyc
